.social-link-icon {
    font-size: 3em;
}

@media only screen and (min-width: 576px) {
    .social-link-icon {
        font-size: 3em;
        color : black;
    }
}

@media only screen and (max-width: 900px) {
    .contact-item {
        padding-left: 10px !important;
        padding-right: 10px !important;
        margin-bottom: 20px;
    }

   .social-link-icon {
       color : black
   } 
}

@media only screen and (max-width: 576px) {
    .contact-item {
        padding-left: 50px !important;
        padding-right: 50px !important;
        margin-bottom: 20px;
    }
}